		<div class="row">
			<div class="16u">
					<section>
						<p>In 2016, the Reps Council decided to change the way in which Reps Mentors worked with their mentees. The idea was to train Reps Mentors with Coaching skills, so they could help their mentees in their personal development inside Mozilla's community. The Reps Council with Participation Team decided to create a new training model to be tested and iterate in the last part of 2016.</p>
						<p>In the past 6 months we run this program twice (once with new mentors and the lastest with people that were mentors) and through that process we ended with these resources.</p>
						<p>Here you can find 3 training resources (with links to other useful documents) that will guide you through the main concepts we believed are key for the Reps Mentors.</p>
						<p>This is a temporary place until we decide where is the right place for them. But like Open Source developers says: «release early, release often». If you have feedback, you could leave it in the github repository. Thanks!</p>
					</section>
				<!-- Blog -->
					<section>
						<div class="row">
							{% assign ordered_lessons = site.lessons | sort: "display-order" %}
						{% for lesson in ordered_lessons %}
							<div class="4u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}{{ lesson.featured }}" alt="" /></a>
									<header>
										<h3>{{ lesson.title }}</h3>
									</header>
									<p>{{ lesson.excerpt }}</p>
									<footer>
										<ul class="actions">
											<li><a href="{{ site.baseurl }}{{ lesson.url }}" class="button icon fa-file-text">Continue Reading</a></li>
										</ul>
									</footer>
								</section>
							</div>
						{% endfor %}
						</div>
					</section>
			</div>
		</div>
<div class="row">
	<div class="16u">
		<section>
			<header>
				<h2>Other Resources</h2>
			</header>
			<ul class="resources">
			{% for post in site.posts %}
				{% if post.categories contains 'resources' %}
				<li>
					<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
					{{ post.excerpt }}
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</section>
	</div>
</div>
	</div>
</div>
